<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>
      Favorite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <ion-slides [options]="sliderOpts" *ngIf="datalocalService.noticias.length === 0">
    <ion-slide>
      <ion-label>There's no News!</ion-label>
    </ion-slide>
  </ion-slides>

  

  <app-noticias [enFavoritos]="true" *ngIf="datalocalService.noticias.length > 0" [noticias]="datalocalService.noticias"></app-noticias>

</ion-content>
